header {
    background: transparent;
}
.header-content h1, span {
    color: black;
}

.menu {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: end;
}

.menu a img {
    width: 30px;
}

.pdf embed {
    border-radius: 10px;
    flex: 1;
    height: 85vh;
}