:root {
    --tema: black;
}

header {
    background: transparent;
}
.header-content h1, span {
    color: black;
}

.menu button {
    background-color: black !important;
    border-radius: 5px;
    padding: 5px;
}

.pdf embed {
    border-radius: 10px;
    
}