@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: white;
}

header {
    background: linear-gradient(to bottom, #02A9F0, #ffff);
    color: white;
    padding: 0 20px;
}

div.header-content {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px 0;
}

div.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.title h1 {
    font-size: 2em;
}

div.title span {
    font-size: 1em;
}

div.menu button {
    background-color: transparent;
    border: none;
}

div.menu button img {
    height: 30px;
}

div.calendar {
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, #AF7DFE, #7B38EF);
    border-radius: 10px;
    display: flex;
    gap: 10px;
    padding: 20px;
    align-items: center;
    margin: 20px 0;
}

div.calendar img {
    height: 70px;
}

div.calendar h2 {
    font-size: 2em;
    font-weight: bold;
}

div.calendar span {
    font-size: 1em;
    font-weight: normal;
}

main {
    margin: 0 20px;
}

section {
    max-width: 1100px;
    margin: auto;
}

section.semestre > h3 {
    color: black;
    font-size: 1.5em;
    margin-bottom: 10px;
}

div.grid-disciplinas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    justify-content: center;
    margin: 20px 0;
}

div.card-disciplinas {
    padding: 20px;
    height: 300px;
    border-radius: 10px;
    background-color: aqua;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.308);
}

div.card-disciplinas img {
    width: 100px;
}

div.card-disciplinas a {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    color: black;
    font-size: 1.2em;
    font-weight: bolder;
}

div.card-disciplinas a:hover {
    background-color: black;
    color: white;
}

