:root {
    --tema: black;
    --body: blue;
}

header {
    background: transparent;
}

.header-content {
    border-bottom: 1px solid black;
}

.header-content h1, span {
    color: black;
}

.menu img {
    width: 40px;
}


div.grid-disciplinas {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: center;
    margin: 20px 0;
}

div.card-tema {
    background-color: white;
    border: 1px solid var(--tema);
    height: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.308);
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

div.num {
    
    height: 100%;
    width: 70px;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acoes {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 2px 10px;
}

.acoes img {
    height: 30px;
}

div.num span {
    font-size: 1em;
    font-weight: bold;
    color: black;
}

div.tema {
    padding: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

div.tema p {
    font-size: 0.85em;
    color: black;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.31);
}